# SPDX-FileCopyrightText: (C) 2025 Intel Corporation
# SPDX-License-Identifier: Apache-2.0
---
hostname: global.fleet.clusterLabels.edge-orchestrator.intel.com/clustername
nodeUUID: global.fleet.edge-orchestrator.intel.com/host-uuid
image:
  tag: 4.2.0
fullnameOverride: fluent-bit
extraVolumeMounts:
  - name: certs
    mountPath: /opt/fluent-bit/certs
  - name: containerlog
    mountPath: /var/log/containers
    readOnly: true
  - name: syslog
    mountPath: /var/log/syslog
    readOnly: true
  - name: authlog
    mountPath: /var/log/auth.log
    readOnly: true
  - name: kernlog
    mountPath: /var/log/kern.log
    readOnly: true
  - name: cloudinit
    mountPath: /var/log/cloud-init.log
    readOnly: true
  - name: cloudinitoutput
    mountPath: /var/log/cloud-init-output.log
    readOnly: true
  - name: journal
    mountPath: /var/log/journal
    readOnly: true
  - name: systemd
    mountPath: /run/systemd/journal
    readOnly: true
  - name: logforward
    mountPath: /run/platform-observability-agent/fluent-bit
  - name: storage
    mountPath: /tmp/flb-storage
extraVolumes:
  - name: certs
    secret:
      secretName: fluent-bit-tls
  - name: containerlog
    hostPath:
      path: /var/log/containers
      type: Directory
  - name: syslog
    hostPath:
      path: /var/log/syslog
      type: File
  - name: authlog
    hostPath:
      path: /var/log/auth.log
      type: File
  - name: kernlog
    hostPath:
      path: /var/log/kern.log
      type: File
  - name: cloudinit
    hostPath:
      path: /var/log/cloud-init.log
      type: File
  - name: cloudinitoutput
    hostPath:
      path: /var/log/cloud-init-output.log
      type: File
  - name: journal
    hostPath:
      path: /var/log/journal
      type: Directory
  - name: systemd
    hostPath:
      path: /run/systemd/journal
      type: Directory
  - name: logforward
    hostPath:
      path: /run/platform-observability-agent/fluent-bit
      type: DirectoryOrCreate
  - name: storage
    hostPath:
      path: /tmp/flb-storage
      type: DirectoryOrCreate
securityContext:
  readOnlyRootFilesystem: false
  allowPrivilegeEscalation: true
  privileged: true
podSecurityContext:
  runAsNonRoot: false
  runAsUser: 0
  supplementalGroups: [4, 500, 10, 101]
resources:
  limits:
    cpu: 150m
    memory: 300Mi
  requests:
    cpu: 50m
    memory: 150Mi
service:
  port: 24224
rbac:
  create: true
  nodeAccess: true
testFramework:
  enabled: false
config:
  service: |
    [SERVICE]
      Flush     1
      Log_Level info
      HTTP_Server On
      HTTP_Listen 0.0.0.0
      Health_Check On
      Grace     30
      storage.path /tmp/flb-storage/
      storage.sync full
      storage.backlog.mem_limit 200M
      storage.max_chunks_up 2048
#
  inputs: |
    [INPUT] ## Input for syslog
      Name           tail
      Tag            EdgeNode_Syslog
      Path           /var/log/syslog
      Read_from_Head false
      Mem_Buf_Limit  25MB
      Skip_Long_Lines On
      Refresh_Interval 5
    [INPUT] ## Input for auth.log
      Name           tail
      Tag            EdgeNode_AuthLog
      Path           /var/log/auth.log
      Read_from_Head false
      Mem_Buf_Limit  10MB
      Skip_Long_Lines On
      Refresh_Interval 5
    [INPUT] ## Input for systemd journal logs (K3s system logs)
      Name            systemd
      Tag             EdgeNode_SystemLogs
      Read_From_Tail  true
      Strip_Underscores true
      Systemd_Filter  _SYSTEMD_UNIT=k3s.service
      Systemd_Filter  _SYSTEMD_UNIT=k3s-agent.service
      Systemd_Filter  _SYSTEMD_UNIT=containerd.service
      Max_Entries     1000
    [INPUT] ## Input for systemd journal logs
      Name            systemd
      Tag             EdgeNode_AllServiceLogs
      Read_From_Tail  true
      Strip_Underscores true
      Max_Entries     2000
    [INPUT] ## Input for container logs
      Name           tail
      Tag            Container.*
      multiline.parser docker, cri
      Path           /var/log/containers/*.log
      Read_from_Head true
      Mem_Buf_Limit  50MB
      Skip_Long_Lines On
      storage.type filesystem
    [INPUT] ## Input for kernel logs
      Name         tail
      Tag          EdgeNode_KernLog
      Path         /var/log/kern.log
      Read_from_Head false
      Mem_Buf_Limit 5MB
      Refresh_Interval 5
      storage.type filesystem
    [INPUT] ## Input for cloud-init logs
      Name         tail
      Tag          EdgeNode_CloudInit
      Path         /var/log/cloud-init.log
      Read_from_Head false
      Mem_Buf_Limit 5MB
      Refresh_Interval 5
      storage.type filesystem
    [INPUT] ## Input for cloud-init output logs
      Name         tail
      Tag          EdgeNode_CloudInitOutput
      Path         /var/log/cloud-init-output.log
      Read_from_Head false
      Mem_Buf_Limit 5MB
      Refresh_Interval 5
      storage.type filesystem
    [INPUT] ## Input for logs/traces received on port
      Name         opentelemetry
      Tag          EdgeNode_OtelLogs
      Listen       0.0.0.0
      Port         24224
      tls          on
      tls.verify   on
      tls.ca_file   /opt/fluent-bit/certs/ca.crt
      tls.crt_file  /opt/fluent-bit/certs/tls.crt
      tls.key_file  /opt/fluent-bit/certs/tls.key
# yamllint disable rule:line-length
  filters: |
    [FILTER] ## Filter for syslog tagging
      Name   record_modifier
      Match  EdgeNode_Syslog
      Record FileType SystemLog
      Record LogSource host
      Record Category provisioning
    [FILTER] ## Filter for auth.log tagging
      Name   record_modifier
      Match  EdgeNode_AuthLog
      Record FileType SystemLog
      Record LogSource host
      Record Category authentication
    [FILTER] ## Filter for systemd/journal logs tagging
      Name   record_modifier
      Match  EdgeNode_SystemLogs
      Record FileType SystemLog
      Record LogSource host
      Record Category k3s
    [FILTER] ## Filter for all service logs tagging
      Name   record_modifier
      Match  EdgeNode_AllServiceLogs
      Record FileType SystemLog
      Record LogSource host
      Record Category provisioning
    [FILTER] ## Filter for kernel logs tagging
      Name   record_modifier
      Match  EdgeNode_KernLog
      Record FileType SystemLog
      Record LogSource host
      Record Category kernel
    [FILTER] ## Filter for cloud-init logs tagging
      Name   record_modifier
      Match  EdgeNode_CloudInit
      Record FileType SystemLog
      Record LogSource host
      Record Category provisioning
    [FILTER] ## Filter for cloud-init output logs tagging
      Name   record_modifier
      Match  EdgeNode_CloudInitOutput
      Record FileType SystemLog
      Record LogSource host
      Record Category provisioning
    [FILTER] ## Filter for logs/traces received on port
      Name   record_modifier
      Match  EdgeNode_OtelLogs
      Record FileType OpenTelemetryLogs
    [FILTER] ## Filter for adding kubernetes metadata for containers
      Name            kubernetes
      Match           Container.*
      Kube_URL        https://kubernetes.default.svc.cluster.local:443
      Kube_CA_File    /var/run/secrets/kubernetes.io/serviceaccount/ca.crt
      Kube_Token_File /var/run/secrets/kubernetes.io/serviceaccount/token
      Kube_Tag_Prefix Container.var.log.containers.
      Labels          off
      Annotations     off
    [FILTER] ## Rewrite the tag for logs that do not originate from an edgenode system namespace.  These logs will be considered application logs
      Name            rewrite_tag
      Match           Container.*
      Rule $kubernetes['namespace_name'] ^(?!.*(akri|calico-system|cattle-fleet-system|cattle-impersonation-system|cattle-system|cattle-ui-plugin-system|cdi|cert-manager|default|east|edge-system|gatekeeper-system|ingress-nginx|intel-gpu-extension|interconnect|istio-operator|istio-system|kube-node-lease|kube-public|kube-system|kubevirt|local|metallb-system|nfd|observability|orchestrator-system|tigera-operator|west)).*$ Application_EdgeNode.var.log.containers.$TAG[4].log false
    [FILTER] ## Filter for adding host name of Edge Node to all logs
      Name   record_modifier
      Match  *
      Record Hostname global.fleet.clusterLabels.edge-orchestrator.intel.com/clustername
    [FILTER] ## Filter for adding UUID of Edge Node to all logs
      Name   record_modifier
      Match  *
      Record UUID global.fleet.edge-orchestrator.intel.com/host-uuid
  outputs: |
    [OUTPUT] ## Output Edge Node Container logs
      Name      forward
      Match     Container.*
      Unix_Path /run/platform-observability-agent/fluent-bit/container-logs.sock
      Workers   1
      net.keepalive on
      net.keepalive_idle_timeout 60
      Retry_Limit 10
    [OUTPUT] ## Output Edge Node System logs
      Name      forward
      Match     EdgeNode_*
      Unix_Path /run/platform-observability-agent/fluent-bit/host-logs.sock
      Workers   1
      net.keepalive on
      net.keepalive_idle_timeout 60
      Retry_Limit 10
    [OUTPUT] ## Output container logs for edgenode applications
      Name      forward
      Match     Application_EdgeNode.*
      Unix_Path /run/platform-observability-agent/fluent-bit/application-logs.sock
      Workers   1
      net.keepalive on
      net.keepalive_idle_timeout 60
      Retry_Limit 10
