# SPDX-FileCopyrightText: (C) 2025 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0

# These owners will be the default owners for everything in the repo. Unless a
# later match takes precedence, these owners will be requested for review when
# someone opens a pull request.

# Everything requires team review by default
* @jdanieck @adorney99 @SeanCondon @hyunsun @scottmbaker @ray-milkey @pudelkoM @badhrinathpa @jokuniew @eoghanlawless @togashidm @pbartosik @ajaythakurintel

# Except the following folders for base extensions
/helm/gatekeeper-constraints @jdanieck @adorney99 @hyunsun @jokuniew @eoghanlawless @togashidm @pbartosik @SeanCondon @scottmbaker @ajaythakurintel @ray-milkey
/helm/network-policies @jdanieck @adorney99 @hyunsun @jokuniew @eoghanlawless @togashidm @pbartosik @SeanCondon @scottmbaker @ajaythakurintel @ray-milkey
/helm/observability-config @jdanieck @adorney99 @hyunsun @jokuniew @eoghanlawless @togashidm @pbartosik @SeanCondon @scottmbaker @ajaythakurintel @ray-milkey
/helm/openebs-config @jdanieck @adorney99 @hyunsun @jokuniew @eoghanlawless @togashidm @pbartosik @SeanCondon @scottmbaker @ajaythakurintel @ray-milkey

/deployment-package/base-extensions @jdanieck @adorney99 @hyunsun @jokuniew @eoghanlawless @togashidm @pbartosik @scottmbaker @ray-milkey @pudelkoM @badhrinathpa @adibrastegarnia @ajaythakurintel

# Except the following folders for application extensions
/helm/akri @SeanCondon @scottmbaker @ray-milkey @pudelkoM @badhrinathpa @adibrastegarnia @ajaythakurintel
/helm/cdi @SeanCondon @scottmbaker @ray-milkey @pudelkoM @badhrinathpa @adibrastegarnia @ajaythakurintel
/helm/edgedns @SeanCondon @scottmbaker @ray-milkey @pudelkoM @badhrinathpa @adibrastegarnia @ajaythakurintel
/helm/intel-gpu-debug @SeanCondon @scottmbaker @ray-milkey @pudelkoM @badhrinathpa @adibrastegarnia @ajaythakurintel
/helm/kubevirt @SeanCondon @scottmbaker @ray-milkey @pudelkoM @badhrinathpa @adibrastegarnia @ajaythakurintel
/helm/kubevirt-helper @SeanCondon @scottmbaker @ray-milkey @pudelkoM @badhrinathpa @adibrastegarnia @ajaythakurintel
/helm/metallb-base @SeanCondon @scottmbaker @ray-milkey @pudelkoM @badhrinathpa @adibrastegarnia @ajaythakurintel
/helm/metallb-config @SeanCondon @scottmbaker @ray-milkey @pudelkoM @badhrinathpa @adibrastegarnia @ajaythakurintel
/helm/skupper @SeanCondon @scottmbaker @ray-milkey @pudelkoM @badhrinathpa @adibrastegarnia @ajaythakurintel
/helm/skupper-sample-app @SeanCondon @scottmbaker @ray-milkey @pudelkoM @badhrinathpa @adibrastegarnia @ajaythakurintel
/helm/sriov @SeanCondon @scottmbaker @ray-milkey @pudelkoM @badhrinathpa @adibrastegarnia @ajaythakurintel

/deployment-package/intel-gpu @SeanCondon @scottmbaker @ray-milkey @pudelkoM @badhrinathpa @adibrastegarnia @ajaythakurintel
/deployment-package/intel-gpu-debug @SeanCondon @scottmbaker @ray-milkey @pudelkoM @badhrinathpa @adibrastegarnia @ajaythakurintel
/deployment-package/loadbalancer @SeanCondon @scottmbaker @ray-milkey @pudelkoM @badhrinathpa @adibrastegarnia @ajaythakurintel
/deployment-package/kubernetes-dashboard @SeanCondon @scottmbaker @ray-milkey @pudelkoM @badhrinathpa @adibrastegarnia @ajaythakurintel
/deployment-package/skupper @SeanCondon @scottmbaker @ray-milkey @pudelkoM @badhrinathpa @adibrastegarnia @ajaythakurintel
/deployment-package/skupper-sample-app @SeanCondon @scottmbaker @ray-milkey @pudelkoM @badhrinathpa @adibrastegarnia @ajaythakurintel
/deployment-package/sriov @SeanCondon @scottmbaker @ray-milkey @pudelkoM @badhrinathpa @adibrastegarnia @ajaythakurintel
/deployment-package/usb @SeanCondon @scottmbaker @ray-milkey @pudelkoM @badhrinathpa @adibrastegarnia @ajaythakurintel
/deployment-package/virtualization @SeanCondon @scottmbaker @ray-milkey @pudelkoM @badhrinathpa @adibrastegarnia @ajaythakurintel

/pkg/edgedns-coredns @SeanCondon @scottmbaker @ray-milkey @pudelkoM @badhrinathpa @adibrastegarnia @ajaythakurintel
/pkg/intel-gpu-debug @SeanCondon @scottmbaker @ray-milkey @pudelkoM @badhrinathpa @adibrastegarnia @ajaythakurintel
/pkg/kubevirt-helper @SeanCondon @scottmbaker @ray-milkey @pudelkoM @badhrinathpa @adibrastegarnia @ajaythakurintel
