# SPDX-FileCopyrightText: (C) 2025 Intel Corporation
# SPDX-License-Identifier: Apache-2.0
---
specSchema: "DeploymentPackage"
schemaVersion: "0.1"
$schema: "https://schema.intel.com/catalog.orchestrator/0.1/schema"

name: "observability"
description: "observability Stack"
version: 0.2.3
forbidsMultipleDeployments: true
kind: extension

applications:
  - name: observability-config
    version: 0.2.1
  - name: fluent-bit
    version: 0.50.2
  - name: telegraf
    version: 1.9.3
  - name: prometheus
    version: 70.4.2
  - name: node-exporter
    version: 4.46.2

defaultNamespaces:
  observability-config: observability
  fluent-bit: observability
  telegraf: observability
  prometheus: observability
  node-exporter: observability

namespaces:
  - name: observability
    labels:
      pod-security.kubernetes.io/enforce: privileged
      name: observability

deploymentProfiles:
  - name: "default-profile"
    displayName: "Default Observability Deployment Profile"
    applicationProfiles:
      - application: observability-config
        profile: default
      - application: fluent-bit
        profile: default
      - application: telegraf
        profile: default
      - application: prometheus
        profile: default
      - application: node-exporter
        profile: default
