# SPDX-FileCopyrightText: (C) 2025 Intel Corporation
# SPDX-License-Identifier: Apache-2.0
---
# telegraf
specSchema: "Application"
schemaVersion: "0.1"
$schema: "https://schema.intel.com/catalog.orchestrator/0.1/schema"

name: telegraf
version: 1.9.2
description: "Telegraf"
kind: extension

helmRegistry: "telegraf"
chartName: "telegraf"
chartVersion: "1.8.64"

profiles:
  - name: default
    displayName: "default"
    valuesFileName: "values-telegraf.yaml"
    deploymentRequirements:
      - name: cert-manager
        version: 0.2.1
        deploymentProfileName: default-profile
