# SPDX-FileCopyrightText: (C) 2025 Intel Corporation
# SPDX-License-Identifier: Apache-2.0
---
# prometheus
specSchema: "Application"
schemaVersion: "0.1"
$schema: "https://schema.intel.com/catalog.orchestrator/0.1/schema"

name: prometheus
version: 70.4.2
description: "Prometheus"
kind: extension

helmRegistry: "prometheus"
chartName: "kube-prometheus-stack"
chartVersion: "79.5.0"

profiles:
  - name: default
    displayName: "default"
    valuesFileName: "values-prometheus.yaml"
    deploymentRequirements:
      - name: cert-manager
        version: 0.2.1
        deploymentProfileName: default-profile
