# SPDX-FileCopyrightText: (C) 2024 Intel Corporation
# SPDX-License-Identifier: Apache-2.0
---
# Default values for metallb.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

metallb:
  # speaker contains configuration specific to the MetalLB speaker
  # daemonset.
  speaker:
    # frr contains configuration specific to the MetalLB FRR container,
    # for speaker running alongside FRR.
    frr:
      enabled: false

extensionImages:
  - quay.io/metallb/controller:v0.15.2
  - quay.io/metallb/speaker:v0.15.2
  - docker.io/alpine/kubectl:1.34.1

kubectl:
  image: alpine/kubectl:1.34.1
