# SPDX-FileCopyrightText: (C) 2024 Intel Corporation
# SPDX-License-Identifier: Apache-2.0
---
networkPoliciesEnabled: true
nodeSelector:
  kubernetes.io/os: linux
# proxy:
#  HTTPProxy: http://http.com:123
#  HTTPSProxy: http://https.com:123
#  noProxy: http://no-proxy.com:123

kubectl:
  image: alpine/kubectl:1.34.1

extensionImages:
  - quay.io/kubevirt/cdi-operator:v1.63.1
  - quay.io/kubevirt/cdi-controller:v1.63.1
  - quay.io/kubevirt/cdi-importer:v1.63.1
  - quay.io/kubevirt/cdi-cloner:v1.63.1
  - quay.io/kubevirt/cdi-apiserver:v1.63.1
  - quay.io/kubevirt/cdi-uploadserver:v1.63.1
  - quay.io/kubevirt/cdi-uploadproxy:v1.63.1
  - docker.io/library/alpine:3.22.2
  - docker.io/alpine/kubectl:1.34.1
